body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background:url(img.jpg);
    background-size: cover;
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.card {
    width: 80px;
    height: 80px;
    background-color: #f79205;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    cursor: pointer;
    border:2px rgb(128, 79, 0) solid ;
    border-radius: 10px;
    user-select: none;
}

.card.flipped {
    background-color: white;
    color: #007BFF;
    cursor: default;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: hwb(180 16% 27%);
}
button:hover{
    background-color: beige;
    font-size: 20px;

}
